<div class="col-sm-5">
  <form action="/authors/new" method="post">
    <fieldset>
      <label>First Name</label><br><input type="text" name="firstName" ><br>
      <label>Last Name</label><br><input type="text" name="lastName" ><br>
      <label>Image URL</label><br><input type="text" name="portraitUrl" ><br>
      <label>Biography</label><br><textarea name="bio" rows="8" cols="40"></textarea>
      <input type="submit" value="Add Author">
    </fieldset>
  </form>
</div>
