{{#each data.authors}}
  <div>
    <img src="{{portraitUrl}}" style="{height:25px; width:15px;}" />
    <h1>Author: {{firstName}} {{lastName}}</h1>
    <ul>
      <h1>Books</h1>
        {{#each titles}}
        <li>
          {{title}}
        </li>
        {{/each}}
    </ul>
  </div>
{{/each}}
