<div class="col-sm-5 form">
  <form class="centerMe" action="/books/new" method="post">
    <fieldset>
      <label>Title</label><br><input type="text" name="title" ><br>
      <label>Genre</label><br><input type="text" name="genre" ><br>
      <label>Book Image URL</label><br><input type="text" name="coverUrl" ><br>
      <label>Description</label><br><textarea name="description" rows="8" cols="40"></textarea>
      <input type="submit" value="Add Book">
    </fieldset>
  </form>
</div>
