<div class="container">
  <div class="row header">
    <img id="logo" src="/images/galvanize-g.svg" />
    <h1>{{title}}</h1>
  </div>
  <div class="row main">
    <div class="col-sm-6 img-holder">
      <a href="/authors"><img src="https://s3-us-west-2.amazonaws.com/assessment-images/galvanize_reads/photos/allen_downey.jpg" alt="" /></a>
      <h3>Authors</h3>
    </div>
    <div class="col-sm-6 img-holder">
      <a href="/books"><img src="https://s3-us-west-2.amazonaws.com/assessment-images/galvanize_reads/photos/scope_and_closures.jpg" alt="" /></a>
      <h3>Books</h3>
    </div>
  </div>
</div>
