<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style2.css' />
  </head>
  <body>
    <div class="container-fluid">
    <div class="row header">
      <a href="/"><img id="logo" src="/images/galvanize-g.svg" /></a>
      <h1> -Reads</h1>
      <a class="headerItem" href="/books/new"><h3>Add A Book</h3></a>
      <a class="headerItem" href="/authors/new"><h3>Add An Author</h3></a>
    </div>
  </div>
  <div class="bodyDiv">
    <div class="row">
      <div class="col-sm-2 sideBar">
        <a href="/books">
        <div class="sideBarItem">
          <img class="sideBarImg" src="https://s3-us-west-2.amazonaws.com/assessment-images/galvanize_reads/photos/scope_and_closures.jpg" alt="" />
          <h2 class="sideBarText">Books</h2>
        </div>
        </a>
        <a href="/authors">
        <div class="sideBarItem">
          <img class="sideBarImg" src="https://s3-us-west-2.amazonaws.com/assessment-images/galvanize_reads/photos/allen_downey.jpg" alt="" />
          <h2 class="sideBarText">Authors</h2>
        </div>
        </a>
      </div>
    {{{body}}}
  </div>
  </div>
  </body>
</html>
