body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#logo {
  height: 50px;
  width: 30px;
}
.header{
  flex-direction: row;
  display: flex;
  height: 75px;
  align-items: center;
  top: -20px;
}
.img-holder{
  text-align: center;
  height: 75vh;
}
img {
  height: 90%;
  width: 90%;
}
body {
  background-image: url(../images/open-book.png);
  background-size: cover;
}
