body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#logo {
  height: 50px;
  width: 30px;
}
.header{
  flex-direction: row;
  display: flex;
  height: 75px;
  align-items: center;
  top: -20px;
  border: 1px solid black;
}
.container-fluid{
  border: 1px solid red;
  top: -20px;
}
.img-holder{
  text-align: center;
  border: 1px solid blue;
  height: 75vh;
}
img {
  height: 25vh;
  width: 15vw;
}
body {
  background-color: rgba(255, 186, 96, 0.61)
}
div{
  border: 1px solid black;
}
h1 {
  width: auto;
}
fieldset {
  border: 1px solid black;
  border-radius: 10px;
}
.delete {
  width: 90%;
  border-radius: 10px;
}
