body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
#logo {
  height: 50px;
  width: 30px;
}
.header{
  flex-direction: row;
  display: flex;
  height: 75px;
  align-items: center;
  top: -20px;
  background-color: rgba(80, 65, 60, 0.55);
  position: fixed;
  top: 0;
  width: 93vw;
  margin-bottom: 20px;
}
.container-fluid{
  top: -20px;
}
.img-holder{
  text-align: center;
  height: 75vh;
}
img {
  height: 25vh;
  width: 15vw;
  align-items: center;
}
body {
  background-color: orange;
}

h1 {
  width: auto;
}
fieldset {
  border-radius: 10px;
  background-color: white;
  text-align: center;
}
.delete {
  width: 100%;
  border-radius: 10px;
  margin-left: auto;
}
.button {
  float: right;
  margin-right: 10px;
  outline: none;
}
.itemContainer {
  margin-left: 50px;

}
.smallImg {
  left: -10px;
  margin-right: 25px;
}
.centerMe {
  margin-left: auto;
  margin-right: auto;
}
.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  width: 75vw;
  margin-top: 12%;
}
.stretch{
  width: 100%;
}
.bodyDiv {
  margin-top: 25px;
  overflow: auto;
  height: 83vh;
}
.totalContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  width: 75vw;
  float: right;
  margin-right: 5%;
}
#singleView{
  margin-top: 12%;
  margin-left: 5%;
}
h1 {
  text-align: center;
}
#multiView {
  margin-left: 5%;
}
.headerItem {
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: orange;
  margin-left: 25px;
  width: 200px;
  text-align: center;
}
.sideBar {
  position: fixed;
  height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12vw;
}
.sideBarItem{
  width: 10vw;
  height: 35vh;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  /*position: fixed;*/
  margin-top: 25%;
  left: 0;
}
.sideBarImg {
  width: 5vw;
  height: 10vh;
  margin-left: 25%;
  margin-top: 10%;
}
.sideBarText {
  transform: rotate(270deg);
  margin-top: 55px;
  color: black;
}
